include LICENSE.txt
include README.md
include CHANGELOG.md
include pyproject.toml
recursive-include nlsq *.py *.pyi py.typed
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude tests *
prune docs/_build